.home-container {
    display: grid;
    grid-template-rows: .25fr .5fr 1fr 1fr 1fr;
    grid-template-columns: .25fr .55fr 2fr .5fr .25fr;
    grid-template-areas: 
    '. . . . sidebar'
    '. bite . . sidebar'
    '. sidebite logocontainer . sidebar'
    '. sidebite logocontainer . sidebar'
    '. . unique . sidebar'
    ;
    background-color: #27AAE1;
    height: 100vh;
    width: auto;
}

.bite {
    grid-area: bite;
    justify-self: end;
    align-self: end;
}

.in {
    grid-area: logocontainer;
    justify-self: end;
    align-self: center;
}

.about {
    grid-area: sidebar;
    border: 0;
    display: block;
    z-index: 10;
}

.about-words {
    grid-area: sidebar;
    margin: 0;
    padding: 0;
    font-family: hatch, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: white;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    align-self: center;
    justify-self: center;
}

.unique {
    grid-area: unique;
    justify-self: center;
    align-self: start;
    font-family: hatch, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8em;
    color: white;

}

.home-logo {
    grid-area: logocontainer;
    justify-self: center;
    align-self: center;
}